receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317    
      http:
        endpoint: 0.0.0.0:4318   


processors:
  batch:
    timeout: 10s
    send_batch_size: 1024
    send_batch_max_size: 2048

  memory_limiter:
    check_interval: 1s
    limit_mib: 512
    spike_limit_mib: 128

  resource:
    attributes:
      - key: service.name
        value: authserver
        action: upsert
      - key: environment
        value: development
        action: insert


exporters:
  prometheus:
    endpoint: 0.0.0.0:8889
    namespace: authserver
    resource_to_telemetry_conversion:
      enabled: true

  debug:
    verbosity: detailed
    sampling_initial: 5
    sampling_thereafter: 200


extensions:
  health_check:
    endpoint: 0.0.0.0:13133

  pprof:
    endpoint: 0.0.0.0:1777


service:
  extensions: [health_check, pprof]  

  pipelines:
    metrics:
      receivers: [otlp]
      processors: [memory_limiter, resource, batch]
      exporters: [prometheus, debug]

  telemetry:
    logs:
      level: info

